<section id="aboutMe">
    <div class="container">
        <div class="row">
            <h1 class="colonna-sm-12">
                <span multi-language="en">About me</span>
                <span multi-language="it">Profilo</span>
            </h1>
            <div class="riga">
                <div class="colonna-md-6">
                    <h3>Chi sono</h3>
                    <p multi-language="en">
                        Vestibulum vitae ante dictum, aliquet lectus nec, lobortis sapien. In posuere ligula sed lacus scelerisque consectetur. Quisque interdum, eros sit amet
                        mattis ullamcorper, nibh ligula <strong>risus, nec congue augue felis</strong> at odio.
                    </p>
                    <div multi-language="it">
                        <p>Sono Stefano Longo, web designer e front end developer freelance</p>
                        <p>
                            Progetto e realizzo <strong>siti web full responsive, cross-browser e SEO compliant</strong>, gestendo tutte le fasi del processo produttivo:
                            dalla pianificazione e definizione del layout grafico alla scrittura del codice <strong>HTML</strong>, dalla progettazione e realizzazione
                            della <strong>graphic interaction</strong> alla creazione di temi custom per Wordpress e Drupal
                        </p>
                    </div>
                </div>
                <div class="colonna-md-6">
                    <img class="profilePic" src="img/stefano-longo.png"/>
                </div>
            </div>
            <div class="riga">
                <div class="colonna-md-6 right text-right">
                    <h3 class="text-right">Cosa so fare</h3>
                    <div multi-language="it">
                        <p>
                            <strong>Linguaggi di programmazione e markup</strong>:<br/>
                            HTML5, CSS3, Javascript, PHP, Ruby
                        </p>
                        <p>
                            <strong>Framework , librerie e CMS</strong>:<br/>
                            Angular JS,
                            React JS,
                            jQuery,
                            TweenMax,
                            Wordpress,
                            Drupal,
                            Symfony,
                            Ruby on Rails,
                            Mean JS
                        </p>
                        <p>
                            <strong>Software per lo sviluppo grafico</strong>:<br/>
                            Photoshop,
                            Illustrator,
                            Inkscape
                        </p>
                    </div>
                </div>
                <cube></cube>
            </div>
            <div class="colonna-sm-12 right" >
                <h3>Progetti futuri...</h3>
                <p multi-language="en">
                    Vestibulum vitae ante dictum, aliquet lectus nec, lobortis sapien. In posuere ligula sed lacus scelerisque consectetur. Quisque interdum, eros sit amet
                    mattis ullamcorper, nibh ligula <strong>risus, nec congue augue felis</strong> at odio.
                </p>
                <p multi-language="it">Nel prossimo futuro intendo approfondire la mie conoscenze e competenze sull'utilizzo di <strong>javascript</strong>
                    per la realizzazione di <strong> applicazioni web</strong> e <strong>hybrid mobile applications</strong>: Angular JS, React JS , Ember, Javascript puro, Ionic , Cordova.</p>
            </div>
            <p class="text-center"><a class="cv" href="img/CV_Stefano_Longo.pdf" download>SCARICA IL MIO CV</a></p>
        </div>
    </div>
</section>
