/* line 10, ../sass/grid.scss */
body .container {
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 20, ../sass/grid.scss */
body [class*='col'] {
  float: left;
  display: block;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 27, ../sass/grid.scss */
body .row {
  display: block;
  clear: both;
  margin: 0 -10px;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-1 {
  width: 8.33333%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-2 {
  width: 16.66667%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-3 {
  width: 25%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-4 {
  width: 33.33333%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-5 {
  width: 41.66667%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-6 {
  width: 50%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-7 {
  width: 58.33333%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-8 {
  width: 66.66667%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-9 {
  width: 75%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-10 {
  width: 83.33333%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-11 {
  width: 91.66667%;
}
/* line 35, ../sass/grid.scss */
body .colonna-sm-12 {
  width: 100%;
}
@media screen and (max-width: 640px) {
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-1 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-2 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-3 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-4 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-5 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-6 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-7 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-8 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-9 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-10 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-11 {
    width: 100%;
  }
  /* line 43, ../sass/grid.scss */
  body .colonna-lg-12 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-1 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-2 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-3 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-4 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-5 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-6 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-7 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-8 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-9 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-10 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-11 {
    width: 100%;
  }
  /* line 49, ../sass/grid.scss */
  body .colonna-md-12 {
    width: 100%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-1 {
    width: 8.33333%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-2 {
    width: 16.66667%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-3 {
    width: 25%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-4 {
    width: 33.33333%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-5 {
    width: 41.66667%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-6 {
    width: 50%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-7 {
    width: 58.33333%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-8 {
    width: 66.66667%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-9 {
    width: 75%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-10 {
    width: 83.33333%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-11 {
    width: 91.66667%;
  }
  /* line 55, ../sass/grid.scss */
  body .colonna-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 640px) and (max-width: 960px) {
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-1 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-2 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-3 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-4 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-5 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-6 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-7 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-8 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-9 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-10 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-11 {
    width: 100%;
  }
  /* line 64, ../sass/grid.scss */
  body .colonna-lg-12 {
    width: 100%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-1 {
    width: 8.33333%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-2 {
    width: 16.66667%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-3 {
    width: 25%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-4 {
    width: 33.33333%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-5 {
    width: 41.66667%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-6 {
    width: 50%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-7 {
    width: 58.33333%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-8 {
    width: 66.66667%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-9 {
    width: 75%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-10 {
    width: 83.33333%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-11 {
    width: 91.66667%;
  }
  /* line 70, ../sass/grid.scss */
  body .colonna-sm-12 {
    width: 100%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-1 {
    width: 8.33333%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-2 {
    width: 16.66667%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-3 {
    width: 25%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-4 {
    width: 33.33333%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-5 {
    width: 41.66667%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-6 {
    width: 50%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-7 {
    width: 58.33333%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-8 {
    width: 66.66667%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-9 {
    width: 75%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-10 {
    width: 83.33333%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-11 {
    width: 91.66667%;
  }
  /* line 76, ../sass/grid.scss */
  body .colonna-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-1 {
    width: 8.33333%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-2 {
    width: 16.66667%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-3 {
    width: 25%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-4 {
    width: 33.33333%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-5 {
    width: 41.66667%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-6 {
    width: 50%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-7 {
    width: 58.33333%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-8 {
    width: 66.66667%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-9 {
    width: 75%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-10 {
    width: 83.33333%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-11 {
    width: 91.66667%;
  }
  /* line 84, ../sass/grid.scss */
  body .colonna-sm-12 {
    width: 100%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-1 {
    width: 8.33333%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-2 {
    width: 16.66667%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-3 {
    width: 25%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-4 {
    width: 33.33333%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-5 {
    width: 41.66667%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-6 {
    width: 50%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-7 {
    width: 58.33333%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-8 {
    width: 66.66667%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-9 {
    width: 75%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-10 {
    width: 83.33333%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-11 {
    width: 91.66667%;
  }
  /* line 90, ../sass/grid.scss */
  body .colonna-md-12 {
    width: 100%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-1 {
    width: 8.33333%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-2 {
    width: 16.66667%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-3 {
    width: 25%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-4 {
    width: 33.33333%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-5 {
    width: 41.66667%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-6 {
    width: 50%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-7 {
    width: 58.33333%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-8 {
    width: 66.66667%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-9 {
    width: 75%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-10 {
    width: 83.33333%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-11 {
    width: 91.66667%;
  }
  /* line 96, ../sass/grid.scss */
  body .colonna-lg-12 {
    width: 100%;
  }
}
